@{
    Layout = "~/Views/Shared/_LayoutWOPI.cshtml";
}
<form id="office_form" name="office_form" target="office_frame" action="@ViewData["urlsrc"]" method="post">
    <input name="access_token" value="@ViewData["access_token"]" type="hidden" />
    <input name="access_token_ttl" value="@ViewData["access_token_ttl"]" type="hidden" />
</form>

<div style="position: fixed; top: 10px; right: 10px; z-index: 1">
    <button onclick="bind()">Open panel</button>
</div>
<span id="frameholder"></span>

<script type="text/javascript">

    function post(msg) {
        const temp1 = document.getElementById('office_frame').contentWindow;
        temp1.postMessage(JSON.stringify(msg), '*');
    }

    function bind() {
        const attrName = prompt('Attribute name');
        insertTimeSeries(attrName);
    }

    function postReady() {
        post({ 'MessageId': 'Host_PostmessageReady' });
    }

    function setHyperlink() {
        post({
            'MessageId': 'Send_UNO_Command',
            'Values': {
                'Command': ".uno:SetHyperlink",
                'Args': {
                    'Hyperlink.Text': {
                        'type': 'string',
                        'value': 'Hello'
                    },
                    'Hyperlink.URL': {
                        'type': 'string',
                        'value': 'http://open-panel.com'
                    },
                    'Hyperlink.Target': {
                        'type': 'string',
                        'value': '_blank'
                    },
                    'Hyperlink.Name': {
                        'type': 'string',
                        'value': 'Hello'
                    },
                    'Hyperlink.Type': {
                        'type': 'short',
                        'value': '1'
                    }
                }
            }
        })
    }

    function insertText(text) {
        post({
            'MessageId': 'Send_UNO_Command',
            'Values': {
                'Command': ".uno:EnterString",
                'Args': {
                    'StringName': {
                        'type': 'string',
                        'value': text
                    }
                }
            }
        })

    }

    function save() {
        post({
            'MessageId': 'Action_Save',
            'Values': { 'Notify': true, 'ExtendedData': 'CustomFlag=Custom Value;AnotherFlag=AnotherValue' }
        });
    }

    function paste(text) {
        post({
            'MessageId': 'Action_Paste',
            'Values': { Mimetype: "text/plain;charset=utf-8", Data: text }
        })
    }

    function setCellColor() {
        post({
            'MessageId': 'CallPythonScript',
            'SendTime': Date.now(),
            'ScriptFile': 'SetCellColor.py',
            'Function': 'SetCellColor',
            'Values': null
        });
    }

    function insertToolbar() {
        post({
            'MessageId': 'Insert_Button',
            'Values': {
                id: 'datasource',
                imgurl: 'https://www.computerhope.com/jargon/d/database.png',
                label: 'Data source'
            }
        });
    }

    function insertTimeSeries(attrName) {
        post({
            'MessageId': 'CallPythonScript',
            'SendTime': Date.now(),
            'ScriptFile': 'InsertTimeSeries.py',
            'Function': 'InsertTimeSeries',
            'Values': {
                'Attribute': {
                    'type': 'string',
                    'value': attrName || 'Attribute 1'
                }
            }
        });
    }

    function receiveMessage(event) {
        console.log(event);
        var msg = JSON.parse(event.data);
        if (!msg) {
            return;
        }

        if (msg.MessageId == 'App_LoadingStatus') {
            if (msg.Values) {
                if (msg.Values.Status == 'Document_Loaded') {
                    postReady();
                }
            }
        }
        else if (msg.MessageId == 'UI_Hyperlink' && msg.Values.Url === 'app://open-mapping-panel') {
            event.preventDefault();
            bind();
        }
    }

    // 'main' code of this <script> block, run when page is being
    // rendered. Install the message listener.
    window.addEventListener("message", receiveMessage, false);

    var frameholder = document.getElementById('frameholder');
    var office_frame = document.createElement('iframe');
    office_frame.name = 'office_frame';
    office_frame.id = 'office_frame';
    // The title should be set for accessibility
    office_frame.title = 'Office Online Frame';
    // This attribute allows true fullscreen mode in slideshow view
    // when using PowerPoint Online's 'view' action.
    office_frame.setAttribute('allowfullscreen', 'true');
    frameholder.appendChild(office_frame);
    document.getElementById('office_form').submit();
</script>